*
{
margin: 0;
padding: 0;
  box-sizing: border-box;

}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  
  font-style: italic;
}
.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  
  font-style: italic;
}


html {
  scroll-behavior: smooth;
 
}
#fcontact 
{
    font-size: 40px;
    padding:5px;
    border-bottom:1px solid black;
}
.cont
{
    width:96%;
    display:flex;
    align-items:center;
    margin:auto;
}

.map
{
 width:40%;
}
.map img
{
    max-width:100%;
}



header
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:fixed;
    height:60px;
 
    width:100%;
    z-index:200;
    color:#B08D57;
}
header ul li a{
   color:#C8A600; 
}
#banner
{
    width:100vw;
    height:100vh;
    position:relative;
    background-image: url("imgs/2.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    max-width:100%;
}
.loc
{
    position:absolute;
    bottom:30px;
    right:20px;
    z-index:5;
    color:goldenrod;
    font-size:20px;
    text-shadow:1px 1px 1px black;
    font-style: italic;
}
.logocont
{
    position:absolute;
    width:600px;
    height:auto;
    right:calc(50% - 300px);
    bottom:calc(50% - 150px);
    z-index:5;
}
#logo1
{
   width:100%;
    height:auto;
}
#banner {
  padding-top: 60px; /* same as your header height */
}
.banneref
{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;   
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 2;
   
}



.mb
{display: none;}
.contact
{
    display:flex;
    padding:100px;
    gap:100px;
    width:100%;
    background-color: #1A0006;
}
.contactinfo
{
    
    font-size: 20px;
    width:40%;
}
.contactinfo ul
{
    list-style-type:none;
    padding:0;
    margin-right: 50px;
}
.contactinfo ul li
{
    margin-bottom:10px;
}

.parallax1 {
  background-image: url('imgs/6.jpg'); /* Your image path */
  height: 400px; 
  max-height:400px;
  min-height:400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position:relative;
}

nav ul
{
    list-style-type:none;
    display:flex;
    gap:20px;
    font-size: 20px;
    
}
nav a
{
padding: 0px 10px;
text-decoration: none;
color:white;
}

#menu-toggle
{
    height:30px;
    width:30px;   
    font-weight: 900;
    display:none;
    
}    
#mainTitle
{
    text-align: center;
    box-shadow:5px 5px 10px black;
text-shadow:1px 1px 1px black;
padding:10px;
background-color: #536C4D;
font-size:40px;
opacity: 0;

}
#mainTitle
{
      
  transition: all 0.7s ease;
}

#banner img
{
width:100%;

height:100%;
object-fit: cover;
}
.show
{
    opacity: 1 !important;
    
}
.headerbg
{
       background-color: rgb(31, 30, 30);
    background-repeat: no-repeat;
    background-size: cover;
    
}
main
{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.text
{
    
    text-align: left;
    font-size: 28px;
    line-height: 1.5;
    padding:80px 30px;
        background-color:#1A0006;
    color:white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 5px 5px 10px black;
    box-sizing: border-box;
    
}
.text h2
{
  color: #B08D57;
}
h2
{
 box-shadow:5px 5px 10px black;
    text-shadow:1px 1px 1px black;
    padding:10px;
  border:2px solid black;
    font-size:50px;
    margin-top:10px;

}
h1
{
    
    text-shadow:4px 4px 4px black;
    padding:10px;
    border-bottom:2px solid white;
    font-size:30px;
    margin:10px 0;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
    border-radius:10px;
    font-weight: 900;
    font-style: italic;
}

 .gallery {
  background-color:#B08D57;
  position:relative;
    }

    .gallery img {
      width: 100%;
      max-width:100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    }
.intgal
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    width:90%;
    gap: 10px;
    margin:0 auto;
    padding:10px;
    position: relative;
}
.intgal img
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.g_photo img
{
    max-width:100%;
    height:auto;
    
   

}
.zind
{
    z-index:100
}
.overlay {
  background-color: black;
  position: fixed; /* <--- changed from absolute */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;     /* optional for dark transparency */
  z-index: 99;     /* make sure it's on top */
  display:none;
}
section
{
    position:relative
}
.overlay1
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
 
    z-index: 99; /* semi-transparent black */
    background-image: url('imgs/WSKY.jpg');
    background-size: cover;
    background-position: center;
}
.show
{
    display:flex !important;
}
.enlarged
{
    position:absolute;
    width:auto !important;
    max-width:100%;
    height:90% !important;
    left:30%;
    object-fit: cover;


}
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.noscroll
{
    overflow: hidden; /* Prevents scrolling */
}

#f_cont
{
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 10px ;
background-color:#1A0006;

}
#f_cont ul
{
list-style: none;
}
#f_cont ul a
{
    text-decoration:none;
    font-size:15px;
    color:white;
}
.cont
{
    display:flex;
    
   justify-content: space-between;
    margin:0 auto;
    
    padding:30px;
}
.cont ul
{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-size: 40px;
}
.cont ul li
{
    padding:5px;
    border-bottom:1px solid white;
    font-weight: 900;
    height:50px;

}
.prices
{
    padding:20px 0;
    background-image: url('imgs/4.png');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
.prices img
{
    width:100%;
    height:auto;
}
#prices
{
    
   
    width:40%;
    margin:0 auto;
    padding-bottom:300px;
    position:relative;
    z-index:100;
}
.parallax {
  background-image: url('imgs/3.jpg'); /* Your image path */
  width: 100%; 
  height:400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#prices h2
{
    text-align: center;
    font-size:30px;
    margin-bottom:40px;
}
.lcont
{
background-color: rgb(61, 6, 6);;

border-bottom:3px solid black;
padding:20px;
max-width:100%;
display:flex;
justify-content: center;

}
.lcont img
{
    width:30%;
    height:auto;
    
}
.fas

{
    color:rgb(48, 48, 51) !important;
    margin-right:5px;
}
.links
{
    text-align: center;
}
/* Responsive Design */

@media (max-width: 600px) 
{
#menu-toggle
{
    display:block;
}
nav
{
   
    position:absolute;
    left:0;
    top:30px;
    display:none;
    width:100%;
    
    
   
    
}
nav ul
{
    
    background-size: cover;
    background-position: center;
    margin:auto;
        display:flex;
flex-direction: column;
align-items: flex-start;
padding:0;
   

 
}
h2
{
    font-size:25px;
}
#mainTitle
{
    font-size:25px;
    padding:3px;
    
}
header
{
    height:30px;
}
header h1
{
    text-align: center;
    box-shadow:5px 5px 10px black;
text-shadow:1px 1px 1px black;
padding:10px;
background-color: #536C4D;
font-size:20px;
}
.dt
{
    display:none;
}
.mb
{
    display: block;
}
.gal
{
    display:flex;
    flex-direction: column  ;
    gap: 10px;
    position:relative;
   
} 
.enlarged
{
    left:0;

}
.cont{
    width:90%;
    margin:auto;
}
.cont ul
{
   
    font-size: 20px;
}
.logocont
{
    position:absolute;
    width:400px;
    max-width:100%;
    height:auto;
   left:0;
  
    z-index:5;
}

.text
{
    font-size: 20px;
    padding:10px;
}
#prices
{
padding-bottom:100px;
width:80%;
}
.contact
{
    flex-direction: column;
    padding:20px;
    gap:20px;
    border:1px  solid black;
}

}
.contactinfo
{
    font-size: 25px;
    padding:10px;
    margin:auto;
    width:100%;
}
.contactinfo ul
{
    margin:0 auto;
    padding:0;
    text-align: left;
    color:white;
}
.contactinfo ul li a
{
    color:white;
    text-decoration:none;
}
.map
{
    margin:auto;
    width:98%;
}
.map img
{
    width:100%;
    height:auto;
}
#f_cont
{

padding: 20px 10px !important;
font-size: 8px !important;



}
#fcontact
{
    font-size: 12px;
    padding:5px;
    border-bottom:1px solid black;
    color:white;
}
#f_menu li a
{
    font-size:12px;
}
